#/*
#--------------------------------------------------------------------------------
#-- Company:        IRFU / CEA Saclay
#-- Engineers:      Irakli.MANDJAVIDZE@cea.fr (IM)
#-- 
#-- Project Name:   Clas12 Micromegas Vertex Tracker
#-- Design Name:    Clas12 Dream testbench software
#--
#-- Module Name:    TbConfig.cfg
#-- Description:    Sample Test bench configuration file
#--
#-- Target Devices: ASCII file
#-- Tool versions:  To be read by test bench software
#-- 
#-- Create Date:    0.0 2011/10/14 IM
#--                 1.0 2012/07/26 IM CmOffset parameter added
#--                     2014/02/25 IM Feu_RunCtrl_DrDblSmpClk
#-- Revision:       
#--
#-- Comments:
#--
#--------------------------------------------------------------------------------
#*/
# Format
# Configuration entries are organised in lines
# # - is comment line
# * - is wildcard, "Feu *", means all FEUs; "Dream *" means all Dreams 

#######################################
# SysName : MCube Answ 
#######################################
Sys Name        CosTb
Sys NbOfSamples 32

Sys DaqRun Trig         Ext     # Ext, Slf - Main use; Test: Cst, Exp
Sys DaqRun Rate         Low     # High; Low - Test: used only for Cst and Exp triggers 
Sys DaqRun Mode         Raw     # Raw, Ped, CMN, ZS 
Sys DaqRun Events       1000000       # 0 - Infinite
Sys DaqRun Time         0       # sec; 0 - Infinite
Sys DaqRun EndType      Stop    # Stop or Restart
Sys DaqRun Prescale     1       # 0 - no data - all prescaled
Sys DaqRun FileSize     1000    # 0 - no restriction (MB)

Sys PedRun Rate         Med    # High - run at maximum rate; Low - run at 100 Hz
Sys PedRun Trig         Exp    # Cst - constant; Exp - negative exponential
Sys PedRun Events       500   # Number of events for pedestal runs
Sys PedRun Threshold    5      # Number of sigma

#######################################
# Sys Action : 0-dono; 1-do
# PedThrRun do pedestal run
# TrgThrRun do trigger threshold run
# DataRun   take data
#######################################
Sys Action PedThrRun 1
Sys Action TrgThrRun 0
Sys Action DataRun   0

#######################################
# Topology : Feu ID [1 n] indicates TCM input
#            Dream ID [0-7] : Msk; Dat; Trg
#######################################
# Crate 1
# Sys Topo Feu  1 Dream      0 Dat      1 Dat      2 Dat      3 Dat      4 Dat      5 Dat      6 Dat      7 Dat
# Sys Topo Feu  1 Dream      0 Trg      1 Trg      2 Trg      3 Trg      4 Trg      5 Trg      6 Trg      7 Trg
 Sys Topo Feu  5 Dream      0 Dat      1 Dat      2 Dat      3 Dat     4 Dat      5 Dat      6 Dat      7 Dat
# Sys Topo Feu  3 Dream      0 Dat      1 Dat      2 Dat      3 Dat      4 Dat      5 Dat      6 Dat      7 Dat
# Sys Topo Feu  5 Dream      0 Dat      1 Dat      2 Dat      3 Dat      4 Msk      5 Msk      6 Msk      7  Msk
# Sys Topo Feu  3 Dream      0 Dat      1 Dat      2 Dat      3 Dat      4 Dat      5 Dat      6 Dat      7 Dat
# Sys Topo Feu  4 Dream      0 Msk      1 Msk      2 Msk      3 Msk      4 Msk      5 Msk      6 Msk      7 Msk
# Sys Topo Feu  5 Dream      0 Msk      1 Msk      2 Msk      3 Msk      4 Msk      5 Msk      6 Msk      7 Msk
# Sys Topo Feu  6 Dream      0 Msk      1 Msk      2 Msk      3 Msk      4 Msk      5 Msk      6 Msk      7 Msk
# Sys Topo Feu  7 Dream      0 Msk      1 Msk      2 Msk      3 Msk      4 Msk      5 Msk      6 Msk      7 Msk
# Sys Topo Feu  8 Dream      0 Msk      1 Msk      2 Msk      3 Msk      4 Msk      5 Msk      6 Msk      7 Msk
# Sys Topo Feu  9 Dream      0 Msk      1 Msk      2 Msk      3 Msk      4 Msk      5 Msk      6 Msk      7 Msk

#######################################
# Trigger multiplicity
######################################
 Sys Trg MultMoreThan 2
 Sys Trg MultLessThan 4

#!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
#!                             Advanced parameters section
#!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

#######################################
 # Tcm Parameters
#######################################
Tcm UdpPort 16000
Tcm SelEdge 1

#######################################
# Feu Ids and IPs
#######################################
# Slot 1 
Feu 1 Feu_RunCtrl_Id          12
Feu 1 NetChan_Ip              192.168.10.24
# Slot 2 
Feu 2 Feu_RunCtrl_Id          28
Feu 2 NetChan_Ip              192.168.10.40
# Slot 5 FEU NON PROTECTED 
Feu 5 Feu_RunCtrl_Id          134
Feu 5 NetChan_Ip              192.168.10.146
# Slot 3
Feu 3  Feu_RunCtrl_Id         40
Feu 3 NetChan_Ip              192.168.10.52
# Slot 4
Feu 4 Feu_RunCtrl_Id          22
Feu 4 NetChan_Ip              192.168.10.34
# Slot 5
#Feu 5 Feu_RunCtrl_Id          106
#Feu 5 NetChan_Ip              192.168.10.118
# Slot 6
Feu 6 Feu_RunCtrl_Id          113
Feu 6 NetChan_Ip              192.168.10.125
# Slot 7
Feu 7 Feu_RunCtrl_Id          21
Feu 7 NetChan_Ip              192.168.10.33
# Slot 8
Feu 8 Feu_RunCtrl_Id          120
Feu 8 NetChan_Ip              192.168.10.132
# Slot 8
Feu 9 Feu_RunCtrl_Id          68
Feu 9 NetChan_Ip              192.168.10.80


#######################################
#* Trigger Interface/Generator Config register definitions
#TrigPipeLen | Src | Rate |
#    16-5    | 4-2 | 1-0  |
#-- Src: Tg_Src_Int=0;  Tg_Src_ExtAsyn=1;  Tg_Src_ExtSyn=2; Tg_Src_PushButton=3;
#        Tg_Src_Soft=4; Tg_Src_Constant=5; Tg_Src_Memory=6; Tg_Src_NegExp=7
#-- Rate: Const: 0-0Hz; 1-1Hz; 2-2Hz; 3-3Hz
#-- Rate: NegExp: 0-20Hz; 1-200Hz; 2-2kHz; 3-20kHz
Feu * Trig_Conf_Rate           1
Feu * Trig_Conf_Src            Tg_Src_ExtSyn
Feu * Trig_Conf_TrigPipeLen    80
Feu * Trig_Conf_TrigVetoLen    0
Feu * Trig_Conf_File           None

#######################################
# Main common configuration register
#######################################
#-- Trigger interface clock source
#--   OnBoardClk  = '00' - On-board clock
#--   TrgIfConClk = '01' - Clock from on-board trigger interface connector  
#--   RecClk      = '1x' - Recovered Rocket IO clock
#-- Mask
#-- 	a bit per Dream, 1 - masked, 0 - active
#--    Up to 8 Dreams, hense 8 bits
#-- NbOfSamples
#-- 	Current absolute maximum for Dreams is 255 cells / channel, hense 8 bits
#--
#-- |27-26 |  25-16 |15-8|    7-0    |
#-- |ClkSel|Reserved|Mask|NbOfSamples|
Feu * Main_Conf_ClkSel       TrgIfConClk
Feu * Main_Conf_DreamMask    0x00
Feu * Main_Conf_DreamPol     0x00

Feu * Main_Conf_SparseRd     0
Feu * Main_Conf_Samples      32

#######################################
# Main Trigger logic register
#######################################
#-- Configuration register for Trigger logic
#-- |    29-24  |    23-18  |    17-12  |    11-0   |
#-- | OvrThersh | OvrWrnHwm | OvrWrnLwm | TimeStamp |
Feu * Main_Trig_TimeStamp  0
Feu * Main_Trig_OvrWrnLwm  16
Feu * Main_Trig_OvrWrnHwm  20
Feu * Main_Trig_OvrThersh  28
Feu * Main_Trig_LocThrot   1

#######################################
#-- FEU PowerUp Register
#--|ADC|ProtFlt|     Dream     |
#--|   |       |8-7|6-5|4-3|2-1|
#--| 20|  19-4 | 3 | 2 | 1 | 0 |
#######################################
Feu * Feu_Pwr_Dream    0xF
Feu * Feu_Pwr_PrtFlt   0xFFFF 
Feu * Feu_Pwr_Adc      0

#######################################
#-- FEU Run Control Register
#--|   ADC |     |              Algo                       |
#--|DataRdy|FeuId|Rsvd|ZsChkSmp|DrOvh| ZS |ComModSub|PedSub|
#--| 21-16 |15-8 |  7 |  6-4   |  3  |  2 |    1    |  0   |
#######################################
Feu * Feu_RunCtrl_Pd             0
Feu * Feu_RunCtrl_CM             0
Feu * Feu_RunCtrl_ZS             0
Feu * Feu_RunCtrl_ZsTyp          1
Feu * Feu_RunCtrl_RdDel          1
Feu * Feu_RunCtrl_ZsChkSmp       1
Feu * Feu_RunCtrl_CmOffset     256
Feu * Feu_RunCtrl_Id            -1
Feu * Feu_RunCtrl_AdcDatRdyDel   8
Feu * Feu_RunCtrl_EvTstExt       1
# Associated parameters
Feu * Feu_RunCtrl_PdFile         None
Feu * Feu_RunCtrl_ZsFile         None

#######################################
#-- Self Trigger parameters
#-- Configuration
#--  0-7 |  8-10 |   11    |12-17 |18-23 | 24
#-- Dream| Multi | CmbHit  |DrmHit|CmbHit|Trig
#-- Masks|plicity|Propagate|Width |Width |Topo
#######################################
Feu * SelfTrig_DreamMask  0xFF
#
Feu * SelfTrig_Mult         7
Feu * SelfTrig_CmbHitPropOl 0
Feu * SelfTrig_CmbHitPropFb 0
Feu * SelfTrig_DrmHitWid   63
Feu * SelfTrig_CmbHitWid   63
Feu * SelfTrig_TrigTopo     0
Feu * SelfTrig_Veto         0

#######################################
# -- Self Trigger topology parameters
# -- MemAdr MemVal:wq
Feu * SelfTrig_Topology   0 0x00000000 0x00000000 0x00000000 0x00000000
Feu * SelfTrig_Topology   4 0x00000000 0x00000000 0x00000000 0x00000000
Feu * SelfTrig_Topology   8 0x00000000 0x00000000 0x00000000 0x00000000
Feu * SelfTrig_Topology  12 0x00000000 0x00000000 0x00000000 0x00000000
Feu * SelfTrig_Topology  16 0x00000000 0x00000000 0x00000000 0x00000000
Feu * SelfTrig_Topology  20 0x00000000 0x00000000 0x00000000 0x00000000
Feu * SelfTrig_Topology  24 0x00000000 0x00000000 0x00000000 0x00000000
Feu * SelfTrig_Topology  28 0x00000000 0x00000000 0x00000000 0x00000000

#######################################
#-- FEU Pulser Register
#--|TestFunc|Rsvd|DacTrigVal| Rsvd|DacBaseVal|
#--|   31   | 30 |  29-16   |15-14|   13-0   |
#######################################
Feu * Feu_Pulser_DreamTst     0x00
Feu * Feu_Pulser_PulseWid     512
Feu * Feu_Pulser_Enable       0

#######################################
#-- FEU PreScale Register
#--|  Event |
#--|Prescale|
#--|   11-0 |
Feu * Feu_PreScale_EvtData  1
Feu * Feu_InterPacket_Delay 100

#######################################
#-- Communication registers
# UdpChan_MultiPackThr = Eth_MTU - MaxSmpData - 60
# MaxSmpData = 2220 bytes
# Eth_Mtu depends on Eth NIC but is less 8kbytes
# E.g. for MTU 7k th parameter is 4888
#######################################
Feu * UdpChan_Enable 1
Feu * UdpChan_MultiPackEnb 1
#Feu * UdpChan_MultiPackEnb 0
Feu * UdpChan_MultiPackThr 4888

#######################################
#-- Communication registers
#######################################
Feu * ComChan_Enable 0

#######################################
#-- Auxiliary Trigger Onterface
# -- Configuration
#--   0  |  1  |   2  |
#--  ENC | DEC |Ignore|
Feu * TI_DcBal_Enc 0
Feu * TI_DcBal_Dec 0
Feu * TI_Ignore    0
Feu * TI_Bert      0

#######################################
# Dream registers
#######################################
# HitEnb / Thresh / Polarity / Peaking time
Feu * Dream *  1 0x081F 0xD053 0x0000 0x0000
Feu 1 Dream *  1 0x881F 0xD043 0x0000 0x0000
#Feu 1 Dream *  1 0x881F 0xD063 0x0000 0x0000
Feu 2 Dream *  1 0x881F 0xD043 0x0000 0x0000
# Hit Multiplicity
Feu * Dream *  2 0x0000 0x0008 0x0000 0x0000
# Pulser
Feu * Dream *  3 0x0000 0x0000 0x0000 0x0000
Feu * Dream *  4 0x0000 0x0000 0x0000 0x0000
# Gain: 100 fC
Feu * Dream *  6 0x5555 0x5555 0x5555 0x5555
Feu * Dream *  7 0x5555 0x5555 0x5555 0x5555
# Gain: 200 fC
#Feu * Dream *  6 0xAAAA 0xAAAA 0xAAAA 0xAAAA
#Feu * Dream *  7 0xAAAA 0xAAAA 0xAAAA 0xAAAA
# Gain: 600 fC
# Feu * Dream *  6 0xFFFF 0xFFFF 0xFFFF 0xFFFF 
# Feu * Dream *  7 0xFFFF 0xFFFF 0xFFFF 0xFFFF 

# Discriminator mask
Feu * Dream *  8 0xFFFF 0xFFFF 0x0000 0x0000
Feu * Dream *  9 0xFFFF 0xFFFF 0x0000 0x0000
# Latency
Feu * Dream * 12 0x002D 0x0000 0x0000 0x0000

#######################################
#-- Adc registers
#-- reg val flag
#-- flag: 0 - set internal register
#-- flag: 1 - set internal register 
#--       and tell ADC to take all
#--       set registers into account
#######################################
Feu * Adc 0x16 0x03 1

#######################################
#-- Dream Clock Parameters
#-- Div: Float value TrigClock / RdClk = 3.0, 4.0, 5.0, 6.0
#-- Phase: from 0 to 360 in steps of 45
#######################################
Feu * DrmClk RdClk_Div      6.0
Feu * DrmClk WrClk_Div      6.0
Feu * DrmClk WrClk_Phase    2
Feu * DrmClk AdcClk_Phase   5

