# System
 Sys Name selfTPOTFe

 Sys NbOfSamples 32

# Actions
 Sys Action PedThrRun 0
 Sys Action TrgThrRun 0
 Sys Action DataRun   1
#Sys Action SetParams 0

# DAQ Run
 Sys DaqRun Rate      Low # High - max rate; Med - o(100); Low - o(10) Hz
 Sys DaqRun Trig      Slf # Cst, Exp, Slf, Ext
 Sys DaqRun Mode      Raw # Raw, Ped, CMN, ZS
 Sys DaqRun Events    6000 # 0 - Infinite
 Sys DaqRun Time      0 # Sec; 0 - Infinite
 Sys DaqRun EndType   Stop # Stop or Restart
 Sys DaqRun Prescale  0 # 0 - no data - all prescaled
 Sys DaqRun FileSize  1000 # 0 - no restriction (MB)

# Ped Run
 Sys PedRun Rate      Med # High - max rate; Med - o(100); Low - o(10) Hz
 Sys PedRun Trig      Cst # Cst, Exp - Poisson
Sys PedRun Events     500 # Number of events for pedestal runs
Sys PedRun Threshold  5.00 # Threshold in sigmas

# Trigger
 Sys Trg MultMoreThan 0
 Sys Trg MultLessThan 2

# Topology : Feu ID [1 n] indicates TCM input
#            Dream ID [0-7] : Msk; Dat; Trg
# nb_of_topo_feus= 1 topo_feu_min= 2 topo_feu_max= 2
# nb_of_active_feus= 1 active_feus=0x00000004
# nb_of_trig_feus=1      trig_feus=0x00000004
Sys Topo Feu  2 Dream      0 Trg      1 Trg      2 Trg      3 Trg      4 Msk      5 Msk      6 Msk      7 Msk # mode=Msk dreams: act=8 0x000000ff trg=8 0x000000ff

# Tcm
# tcm_feu_mask=0x00fffffb tcm_trg_mask=0x00fffffb
Tcm UdpPort 0
Tcm SelEdge 1

########################
# Parameters for Feu=*
########################
# Main module configuration
Feu * Main_Conf_ClkSel OnBoardClk
Feu * Main_Conf_SparseRd 0
Feu * Main_Conf_DreamMask 0x00
Feu * Main_Conf_DreamPol 0x00
Feu * Main_Conf_Samples 32
# Main module trigger configuration
Feu * Main_Trig_TimeStamp 0
Feu * Main_Trig_OvrWrnLwm 8
Feu * Main_Trig_OvrWrnHwm 11
Feu * Main_Trig_OvrThersh 28
Feu * Main_Trig_LocThrot 1
# FEU PowerUp Register
Feu * Feu_Pwr_Dream 0xf
Feu * Feu_Pwr_PrtFlt 0xffff
# FEU Control parameters
Feu * Feu_RunCtrl_Pd 0
Feu * Feu_RunCtrl_CM 0
Feu * Feu_RunCtrl_ZS 0
Feu * Feu_RunCtrl_ZsTyp 1
Feu * Feu_RunCtrl_EvTstExt 1
Feu * Feu_RunCtrl_RdDel 0
Feu * Feu_RunCtrl_ZsChkSmp 1
Feu * Feu_RunCtrl_CmOffset 256
Feu * Feu_RunCtrl_AdcDatRdyDel 8
Feu * Feu_RunCtrl_Id 0
Feu * Feu_RunCtrl_PdFile None
Feu * Feu_RunCtrl_ZsFile None
# FEU Pulser parameters
Feu * Feu_Pulser_Enable 0
Feu * Feu_Pulser_DreamTst 0x00
Feu * Feu_Pulser_PulseWid 512
# FEU Prescale parameters
Feu * Feu_PreScale_EvtData    1
Feu * Feu_InterPacket_Delay  100
# FEU Trigger Generator parameters
Feu * Trig_Conf_Rate 1
Feu * Trig_Conf_Src Tg_Src_Self
Feu * Trig_Conf_TrigPipeLen 80
Feu * Trig_Conf_TrigVetoLen 0
Feu * Trig_Conf_File None
# FEU Auxiliary Trigger Interface parameters
Feu * TI_Ignore 1
Feu * TI_DcBal_Enc 0
Feu * TI_DcBal_Dec 0
Feu * TI_Bert 0
# FEU Self Trigger parameters
Feu * SelfTrig_DreamMask 0xff
Feu * SelfTrig_Mult 0
Feu * SelfTrig_CmbHitPropFb 0
Feu * SelfTrig_CmbHitPropOl 0
Feu * SelfTrig_DrmHitWid 10
Feu * SelfTrig_CmbHitWid  5
Feu * SelfTrig_TrigTopo 0
Feu * SelfTrig_Veto 80
# Self Trigger topology parameters
Feu * SelfTrig_Topology  0 0x00000000 0x00000000 0x00000000 0x00000000
Feu * SelfTrig_Topology  4 0x00000000 0x00000000 0x00000000 0x00000000
Feu * SelfTrig_Topology  8 0x00000000 0x00000000 0x00000000 0x00000000
Feu * SelfTrig_Topology 12 0x00000000 0x00000000 0x00000000 0x00000000
Feu * SelfTrig_Topology 16 0x00000000 0x00000000 0x00000000 0x00000000
Feu * SelfTrig_Topology 20 0x00000000 0x00000000 0x00000000 0x00000000
Feu * SelfTrig_Topology 24 0x00000000 0x00000000 0x00000000 0x00000000
Feu * SelfTrig_Topology 28 0x00000000 0x00000000 0x00000000 0x00000000
# FEU Communication parameters
Feu * UdpChan_Enable 1
Feu * UdpChan_MultiPackEnb 1
Feu * UdpChan_MultiPackThr 4888
Feu * ComChan_Enable 0
# Dream Clock Parameters
Feu * DrmClk RdClk_Div 6.0
Feu * DrmClk WrClk_Div 6.0
Feu * DrmClk WrClk_Phase 2
Feu * DrmClk AdcClk_Phase 5
# Adc parameters
Feu * Adc 0x16 0x03 1 
# EeProm Values
# Max16031 Values
# Dream 0 parameters
# Dream 1 parameters
# Dream 2 parameters
# Dream 3 parameters
# Dream 4 parameters
# Dream 5 parameters
# Dream 6 parameters
# Dream 7 parameters
# Dream * parameters
Feu * Dream *  1 0x081f 0xd023 0x0000 0x0000 
Feu * Dream *  2 0x0000 0x0008 0x0000 0x0000 
Feu * Dream *  3 0x0000 0x0000 0x0000 0x0000 
Feu * Dream *  4 0x0000 0x0000 0x0000 0x0000 
Feu * Dream *  6 0xaaaa 0xaaaa 0xaaaa 0xaaaa 
Feu * Dream *  7 0xaaaa 0xaaaa 0xaaaa 0xaaaa 
Feu * Dream *  8 0xffff 0xffff 0x0000 0x0000 
Feu * Dream *  9 0xffff 0xffff 0x0000 0x0000 
Feu * Dream * 10 0xffff 0xffff 0x0000 0x0000 
Feu * Dream * 11 0xffff 0xffff 0x0000 0x0000 
Feu * Dream * 12 0x0020 0x0000 0x0000 0x0000 

# Gain: 600 fC
# Feu * Dream *  6 0xFFFF 0xFFFF 0xFFFF 0xFFFF 
# Feu * Dream *  7 0xFFFF 0xFFFF 0xFFFF 0xFFFF 
########################
# Parameters for Feu=1
########################
# Main module configuration
# Main module trigger configuration
# FEU PowerUp Register
# FEU Control parameters
Feu 1 Feu_RunCtrl_Id 12
# FEU Pulser parameters
# FEU Prescale parameters
# FEU Trigger Generator parameters
# FEU Auxiliary Trigger Interface parameters
# FEU Self Trigger parameters
# Self Trigger topology parameters
# FEU Communication parameters
Feu 1 NetChan_Ip 192.168.10.24
# Dream Clock Parameters
# Adc parameters
# EeProm Values
# Max16031 Values
# Dream 0 parameters
# Dream 1 parameters
# Dream 2 parameters
# Dream 3 parameters
# Dream 4 parameters
# Dream 5 parameters
# Dream 6 parameters
# Dream 7 parameters
# Dream * parameters
########################
# Parameters for Feu=2
########################
# Main module configuration
# Main module trigger configuration
# FEU PowerUp Register
# FEU Control parameters
Feu 2 Feu_RunCtrl_Id 28
# FEU Pulser parameters
# FEU Prescale parameters
# FEU Trigger Generator parameters
# FEU Auxiliary Trigger Interface parameters
# FEU Self Trigger parameters
Feu 2 SelfTrig_DreamMask 0x00
# Self Trigger topology parameters
# FEU Communication parameters
Feu 2 NetChan_Ip 192.168.10.40
# Dream Clock Parameters
# Adc parameters
# EeProm Values
# Max16031 Values
# Dream * parameters
Feu 2 Dream *  1 0x0905 0xd023 0x0000 0x0000 
Feu 2 Dream *  2 0x0200 0x0008 0x0000 0x0000 
Feu 2 Dream *  8 0x0000 0x0000 0x0000 0x0000 
Feu 2 Dream *  9 0x0000 0x0000 0x0000 0x0000 

#Thr scan 26/10/2021
#Feu 2 Dream Trg Mask 0xf0 Thr 0= 21 1= 22 2= 19 3= 18 4=  0 5=  0 6=  0 7=  0
Feu 2 Dream 0 1 0x0905 0x5023 0x0000 0x0000 # thr=21
Feu 2 Dream 1 1 0x0905 0x9023 0x0000 0x0000 # thr=22
Feu 2 Dream 2 1 0x0904 0xd023 0x0000 0x0000 # thr=19
Feu 2 Dream 3 1 0x0904 0x9023 0x0000 0x0000 # thr=18

